<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-light elevation-5" style="background-color: teal;">
  <!-- Brand Logo -->
  <a class="brand-link">
    <img src="assets/dist/img/IG.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Stock Management</span>
  </a>
  <!-- Sidebar -->
  <div class="sidebar" style="color:white;">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item menu-open">
          <a routerLink="./" routerLinkActive="active" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <!-- Product -->
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fa fa-product-hunt" aria-hidden="true"></i>
            <p>
              Product Management
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="./list-product" routerLinkActive="active" class="nav-link">
                <i class="fa fa-list-alt nav-icon"></i>
                <p>List Product</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="./create-product" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add New Product</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- end product -->
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-user-tie" aria-hidden="true"></i>
            <p>
              Employee Management
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="./list-employee" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>List Employee</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="./create-employee" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add New Employee</p>
              </a>
            </li>
          </ul>
        </li>

<!--        <li class="nav-item">-->
<!--          <a class="nav-link">-->
<!--            <i class="nav-icon fa fa-shopping-cart"></i>-->
<!--            <p>-->
<!--              Sale Management-->
<!--              <i class="fas fa-angle-left right"></i>-->
<!--            </p>-->
<!--          </a>-->
<!--          <ul class="nav nav-treeview">-->
<!--            <li class="nav-item">-->
<!--              <a href="#" class="nav-link">-->
<!--                <i class="far fa-circle nav-icon"></i>-->
<!--                <p>General Elements</p>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a href="#" class="nav-link">-->
<!--                <i class="far fa-circle nav-icon"></i>-->
<!--                <p>Advanced Elements</p>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a href="#" class="nav-link">-->
<!--                <i class="far fa-circle nav-icon"></i>-->
<!--                <p>Editors</p>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a href="#" class="nav-link">-->
<!--                <i class="far fa-circle nav-icon"></i>-->
<!--                <p>Validation</p>-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->


        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fa fa-shopping-bag" aria-hidden="true"></i>
            <p>
              Purchase Management
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="./new-purchase-receive" routerLinkActive="active" class="nav-link">
                <i class="fa fa-shopping-cart nav-icon" aria-hidden="true"></i>
                <p>New Purchase Receive</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="./list-purchase-receive" routerLinkActive="active" class="nav-link">
                <i class="fa fa-shopping-cart nav-icon" aria-hidden="true"></i>
                <p>List Purchase Receive</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="./create-purchase-order" routerLinkActive="active" class="nav-link">
                <i class="fa fa-shopping-cart nav-icon" aria-hidden="true"></i>
                <p>New Purchase Order</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="./list-purchase-order" routerLinkActive="active" class="nav-link">
                <i class="fa fa-list-alt nav-icon"></i>
                <p>List Purchase Order</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-adjust" aria-hidden="true"></i>
            <p>
              Stock Adjustment
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="./adjustment-type" routerLinkActive="active" class="nav-link">
                <i class="fa fa-shopping-cart nav-icon" aria-hidden="true"></i>
                <p>Adjustment Type</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="./adjustment-stock" routerLinkActive="active" class="nav-link">
                <i class="fa fa-shopping-cart nav-icon" aria-hidden="true"></i>
                <p>Adjustment Stock</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="./list-adjustment-stock" routerLinkActive="active" class="nav-link">
                <i class="fa fa-shopping-cart nav-icon" aria-hidden="true"></i>
                <p>List Adjustment Stock</p>
              </a>
            </li>

          </ul>
        </li>
        <li class="nav-header">SETTING</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-calendar-alt"></i>
            <p>
              Calendar
              <span class="badge badge-info right">2</span>
            </p>
          </a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a href="#" class="nav-link">-->
<!--            <i class="nav-icon far fa-image"></i>-->
<!--            <p>-->
<!--              Gallery-->
<!--            </p>-->
<!--          </a>-->
<!--        </li>-->
        <li class="nav-item">
          <a routerLink="./uom" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fa fa-balance-scale" aria-hidden="true"></i>
            <p>
              UOM Management
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="./compose-mail" routerLinkActive="active" class="nav-link">
            <i class="nav-icon far fa-envelope"></i>
            <p>
              Mailbox
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fa fa-cog"></i>
            <p>
              Processing
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="./category" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Category</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="./supplier" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Supplier</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="./change-rate" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>CurrenCy</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              User Management
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a  class="nav-link">
                <i class="fa fa-user-plus nav-icon"></i>
                <p>
                  User Register
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="./user" routerLinkActive="active" class="nav-link">
                    <i class="fa fa-user-circle-o nav-icon"></i>
                    <p>List User Management</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="./create-user" routerLinkActive="active" class="nav-link">
                    <i class="fa fa-registered nav-icon"></i>
                    <p>New User Management</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="./login" class="nav-link">
                <i class="fa fa-sign-in nav-icon" ></i>
                <p>Login</p>
              </a>
            </li>
            <li (click)="logout()" class="nav-item">
              <a class="nav-link">
                <i class="fa fa-sign-out nav-icon"></i>
                <p>Logout</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-search"></i>
            <p>
              Report Management
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Simple Search</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Enhanced</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-header">MISCELLANEOUS</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-ellipsis-h"></i>
            <p>Tabbed IFrame Plugin</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://adminlte.io/docs/3.1/" class="nav-link">
            <i class="nav-icon fas fa-file"></i>
            <p>Documentation</p>
          </a>
        </li>
        <li class="nav-header">MULTI LEVEL EXAMPLE</li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
<!-- Confirm Delete Dialog -->
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
