<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="font-weight-light"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp; List-User Management</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Layout</a></li>
              <li class="breadcrumb-item active"><i class="fa fa-user-circle-o" aria-hidden="true"></i> List User</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Default box -->
            <div class="card">
              <div class="card-header">
                <h3 class="font-weight-light card-title" style="color: teal">Please use the table below to navigate or filter result of User <i class="fa fa-user-circle-o" aria-hidden="true"></i></h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <p-table #dt2 [value]="users" dataKey="name"
                       [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,20,30,40,50,60,70,80,90,100]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines id-width"
                       [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                       [globalFilterFields]="['user.username','user.contact','user.email','role.name','user.address','user.dob','users.user.username','users.user.contact','users.user.email','users.user.dob','users.role.name','users.user.address']">
                <ng-template pTemplate="caption" >
                  <div class="p-d-flex" >
                    <button class="btn btn-sm btn-info" ><i class="fas fa-user"></i>&nbsp;<a href="http://localhost:4200/#/dashboard/create-user" role="button" style="color:white">New User</a> </button>
                    <span class="p-input-icon-left p-ml-auto" style="float: right">
                      <i class="pi pi-search"></i>
                      <input class="p-inputtext p-component form-control" pInputText type="text" (input)="dt2.filterGlobal(getEventValue($event), 'contains')" placeholder="Global Search" />
                    </span>
                  </div>
                </ng-template>
                <ng-template pTemplate="header" class="font-weight-light card-title" >
                  <tr style="height: 20px;font-size:14px; color: white;" class="font-weight-light">
                    <th style=" background-color: teal;color: antiquewhite; height: 20px;" class="font-weight-light">
                      <div class=" p-jc-between p-ai-center text-center">
                        Name
                        <p-sortIcon field="name"></p-sortIcon>
                      </div>
                    </th>
                    <th style=" background-color: teal;color: antiquewhite;" class="font-weight-light">
                      <div class=" p-jc-between p-ai-center text-center">
                        Gender
                        <p-sortIcon field="name"></p-sortIcon>
                      </div>
                    </th>
                    <th style=" background-color: teal;color: antiquewhite;" class="font-weight-light">
                      <div class=" p-jc-between p-ai-center text-center">
                        Contact
                        <p-sortIcon field="name"></p-sortIcon>
                      </div>
                    </th>
                    <th style=" background-color: teal;color: antiquewhite;" class="font-weight-light">
                      <div class=" p-jc-between p-ai-center text-center">
                        Email
                        <p-sortIcon field="name"></p-sortIcon>
                      </div>
                    </th>
                    <th style=" background-color: teal;color: antiquewhite;" class="font-weight-light">
                      <div class=" p-jc-between p-ai-center text-center">
                        Date Of Birth
                        <p-sortIcon field="name"></p-sortIcon>
                      </div>
                    </th>
                    <th style=" background-color: teal;color: antiquewhite;" class="font-weight-light">
                      <div class=" p-jc-between p-ai-center text-center">
                        Role
                        <p-sortIcon field="name"></p-sortIcon>
                      </div>
                    </th>
                    <th style=" background-color: teal;color: antiquewhite;" class="font-weight-light">
                      <div class=" p-jc-between p-ai-center text-center">
                        Address
                        <p-sortIcon field="name"></p-sortIcon>
                      </div>
                    </th>
                    <th width="9%" style=" background-color: teal;color: antiquewhite;" class="text-center font-weight-light">Action <p-sortIcon field="name"></p-sortIcon></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-us  class="font-weight-normal card-title">
                  <tr style="font-size: 14px;">
                    <td class="font-weight-normal">
                      <div class="user-panel mt-0 pb-0 mb-0 d-flex">
                        <div class="image">
                          <img [src]="Storage+us.user.photo" class="img-circle " alt="User Image">
                        </div>
                        <div class="info" >
                          <a>{{us.user.username}}</a>
                        </div>
                      </div>
                    </td>
                    <td class="text-center font-weight-normal">{{us.user.gender}}</td>
                    <td class="text-center font-weight-normal">{{us.user.contact}}</td>
                    <td class="text-center font-weight-normal">{{us.user.email}}</td>
                    <td class="text-center font-weight-normal">{{us.user.dob}}</td>
                    <td class="text-center font-weight-normal">
                      <p *ngIf="us.role.name == 'ROLE_ADMIN'">ADMIN</p>
                      <p *ngIf="us.role.name == 'ROLE_USER'">USER</p>
                      <p *ngIf="us.role.name == 'ROLE_PURCHASE'">PURCHASE</p>

<!--                      {{us.role.name}}-->
                    </td>
                    <td class="text-center font-weight-normal">{{us.user.address}}</td>
                    <td style="width:7%;height: 2%;text-align: center" class="text-center font-weight-normal">
                      <div class="dropdown">
                        <a type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" title="Action" >
                          <i class="icon fa fa-tasks tip fa-2x primary" data-bs-toggle="tooltip" data-bs-placement="right" style="color:teal;"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li class="font-weight-normal" style="font-weight: bold;"><a class="dropdown-item" >Action</a></li>
                          <mat-divider></mat-divider>
                          <li class="font-weight-light" (click)="openEdit(editDialog, us)"><a class="dropdown-item" ><i class="fa fa-edit warning" style="color:#f1c40f"></i>&nbsp; Edit</a></li>
                          <li class="font-weight-light" (click)="confirmDelete(us)"><a class="dropdown-item" ><i class="fa fa-trash" style="color:red;"></i>&nbsp;&nbsp; Delete</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="10" class="font-weight-light">No User found.</td>
                  </tr>
                </ng-template>
              </p-table>
              <!-- /.card-body -->
              <div class="card-footer">
                Footer
              </div>
              <!-- /.card-footer-->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</div>
<!-- edit Dialog -->
<ng-template #editDialog>
  <h2 matDialogTitle class="font-weight-light"><i class="fa fa-users" aria-hidden="true"></i>&nbsp; Editing User Record</h2>
  <mat-divider></mat-divider>
  <br>
<!--  <pre>{{f.value | json}}</pre>-->
  <form  [formGroup]="f">
    <table width="100%">
      <tr>
        <td width="50%">
          <div class="form-outline mb-4">
            <label class="font-weight-light" >Username </label>
            <input type="hidden" name="username"  class="form-control" placeholder=" Please enter your username !!" required formControlName="user_id">
            <input type="text" id="username" name="username"  class="form-control" placeholder=" Please enter your username !!" required formControlName="username">
            <small *ngIf="f.controls['username'].hasError('required') && f.controls['username'].touched" class="text-danger">Field required</small>
          </div>
          <div class="form-outline mb-4">
            <label class="font-weight-light" >Gender </label>
            <p-dropdown [options]="gender" optionValue="sex" styleClass="form-control p-0" formControlName="gender" placeholder="Select a Gender" optionLabel="sex" [showClear]="true"></p-dropdown>
            <small *ngIf="f.controls['gender'].hasError('required') && f.controls['gender'].touched" class="text-danger">Field required</small>
          </div>
          <div class="form-outline mb-4">
            <label class="font-weight-light" >Contact</label>
            <input type="text" id="contact" name="contact"  class="form-control" placeholder=" Please enter your contact !!"  required formControlName="contact">
            <small *ngIf="f.controls['contact'].hasError('required') && f.controls['contact'].touched" class="text-danger">Field required</small>
          </div>
          <div class="form-outline mb-4">
            <label class="font-weight-light" >Password <span style="color:red;">*</span></label>
            <input type="password" class="form-control" name="password"  required formControlName="password">
            <small *ngIf="f.controls['password'].hasError('required') && f.controls['password'].touched"class="text-danger">Field required </small>
          </div>
          <div class="form-outline mb-4">
            <label class="font-weight-light" >Email <span style="color:red;">*</span></label>
            <input type="email" class="form-control" name="email" required formControlName="email">
            <small *ngIf="f.controls['email'].hasError('required') && f.controls['email'].touched"class="text-danger">Field required </small>
          </div>
        </td>
        &nbsp;
        <td width="50%" style="padding-left:10px;">
          <br>
          <div class="form-outline mb-4 emp" style="margin-left:35%">
            <div class="profile-images-card">
              <div class="ui-g-6">
                <div class="ui-g">
                  <img *ngIf="this.imagePath != null" [src]="Storage + this.imagePath" class="img-upload ui-g-12" style="width: 200px; height: 200px; object-fit: cover">
                  <img *ngIf="this.imagePath == null" [src]="urlLink" style="width: 200px; height: 200px; object-fit: cover">
                  <br>
                </div>
                <div class="ui-g" style="margin-top: 5px;margin-left: 15%;">
                  <input hidden type="file" id="file" (change)="onSelectFile($event)"  accept="image/*">
                  <label for="file" class="customImage">Upload Profile</label>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="form-outline mb-4">
            <label class="font-weight-light" >Date Of Birth <span style="color:red;">*</span></label>
            <input type="date" class="form-control" name="dob"  required formControlName="dob">
            <small *ngIf="f.controls['dob'].hasError('required') && f.controls['dob'].touched"class="text-danger">Field required </small>
          </div>
          <div class="form-outline mb-3 ">
            <label class="font-weight-light" >User Role</label><br>
            <p-dropdown styleClass="form-control p-0" [options]="roles" formControlName="role_id" optionValue="id" optionLabel="name"></p-dropdown>
          </div>
          <br>
        </td>
      </tr>
    </table>
    <div class="form-outline mb-4">
      <label class="font-weight-light" >Address</label>
      <textarea class="form-control" name="address" rows="5" formControlName="address" placeholder="Please enter your address !!" required ></textarea>
    </div>
    <mat-divider></mat-divider>
    <br>
    <mat-dialog-actions class="mx-auto" style="float: right;">
      <button (click)="onClose()" class="btn btn-sm btn-warning" mat-button color="secondary"><i class="fa fa-close" ></i> Close</button>&nbsp;
      <button class="btn btn-sm btn-primary" (click)="onSave()" [disabled]="!f.valid"><i class="fa fa-plus"></i> Save </button>
    </mat-dialog-actions>
    <br><br>
  </form>
</ng-template>

<!-- Confirm Delete Dialog -->
<p-confirmDialog [style]="{width: '25vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
