<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class=" font-weight-light"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp; List-Purchase
              Order</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Layout</a></li>
              <li class="breadcrumb-item active"><i class="fa fa-shopping-cart" aria-hidden="true"></i> List Purchase
                Order
              </li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Default box -->
            <div class="card">
              <div class="card-header">
                <h3 class="font-weight-light card-title" style="color: teal">Please use the table below to navigate or
                  filter result of purchase order <i class="fa fa-shopping-cart" aria-hidden="true"></i></h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <p-table #dt2 [value]="purchaseOrder" dataKey="name"
                       [rows]="10" [showCurrentPageReport]="true"
                       [rowsPerPageOptions]="[10,20,30,40,50,60,70,80,90,100]" [loading]="loading"
                       styleClass="p-datatable-customers p-datatable-gridlines id-width"
                       [paginator]="true"
                       currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                       [globalFilterFields]="['product.code','employee.name','itemVariantUom.item_variant_name','order_date','supplier_company','purchaseorder.product.code','purchaseorder.employee.name','purchaseorder.order_date']">
                <ng-template pTemplate="caption">
                  <div class="p-d-flex">
                    <button class="btn btn-sm btn-info ">
                      <i class="fa fa-shopping-cart"></i>&nbsp;<a
                      href="http://localhost:4200/#/dashboard/create-purchase-order" role="button" style="color:white">
                      New Purchase order</a></button>
                    <span class="p-input-icon-left p-ml-auto" style="float: right">
                      <i class="pi pi-search"></i>
                      <input class="p-inputtext p-component" pInputText type="text"
                             (input)="dt2.filterGlobal(getEventValue($event), 'contains')" placeholder="Global Search"/>
                    </span>
                  </div>
                </ng-template>
                <ng-template pTemplate="header" class="font-weight-light card-title">
                  <tr style="height: 20px;font-size:14px;">
                    <th>
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Code
                        <p-sortIcon field="name"></p-sortIcon>
                      </div>
                    </th>
                    <th>
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Supplier
                        <p-sortIcon field="name"></p-sortIcon>
                      </div>
                    </th>
                    <th>
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Order Date
                        <p-sortIcon field="name"></p-sortIcon>
                      </div>
                    </th>
                    <th>
                      <div class=" p-jc-between p-ai-center">
                        Purchase By
                        <p-sortIcon field="name"></p-sortIcon>
                      </div>
                    </th>
                    <th>
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Total Item
                        <p-sortIcon field="name"></p-sortIcon>
                      </div>
                    </th>
                    <th>
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Total Price
                        <p-sortIcon field="name"></p-sortIcon>
                      </div>
                    </th>
                    <th>
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Currency
                        <p-sortIcon field="name"></p-sortIcon>
                      </div>
                    </th>
                    <th>
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Description
                        <p-sortIcon field="name"></p-sortIcon>
                      </div>
                    </th>
                    <th>Action
                      <p-sortIcon field="name"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-po class="font-weight-light card-title">
                  <tr style="font-size: 14px;">
                    <td>{{po.code}}</td>
                    <td>{{po.supplier_company}}</td>
                    <td>{{po.order_date | date: 'yyyy-MMMM-dd'}}</td>
                    <td>
                      <div class="user-panel mt-0 pb-0 mb-0 d-flex">
                        <div class="image">
                          <img [src]="Storage+po.photo" class="img-circle " alt="User Image">
                        </div>
                        <div class="info">
                          <a>{{po.employeeName}}</a>
                        </div>
                      </div>
                    </td>
                    <td>{{po.totalItem}}</td>
                    <td>{{po.totalPrice}}</td>
                    <td>{{po.changeRateSymbol}}</td>
                    <td>{{po.description}}</td>
                    <td style="width:9%;height: 2%;text-align: center">
                      <div class="dropdown">
                        <a type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
                           title="Action">
                          <i class="icon fa fa-tasks tip fa-2x primary" data-bs-toggle="tooltip"
                             data-bs-placement="right" style="color:teal;"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li class="font-weight-light" style="font-weight: bold;"><a class="dropdown-item">Action</a>
                          </li>
                          <mat-divider></mat-divider>
                          <li class="font-weight-light"><a class="dropdown-item" (click)="openEdit(editDialog, po)"><i
                            class="fa fa-edit warning" style="color:#f1c40f"></i>&nbsp; Edit</a></li>
                          <li class="font-weight-light"><a class="dropdown-item" (click)="openView(viewDialog, po)"><i
                            class="fa fa-eye " style="color: teal"></i>&nbsp; View</a></li>
                          <li class="font-weight-light"><a class="dropdown-item" (click)="confirmDelete(po)"><i
                            class="fa fa-trash" style="color:red;"></i>&nbsp;&nbsp; Delete</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="10" class="brand-text font-weight-light">No Purchase found.</td>
                  </tr>
                </ng-template>
              </p-table>
              <!-- /.card-body -->
              <div class="card-footer">
                Footer
              </div>
              <!-- /.card-footer-->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</div>
<!-- edit Dialog -->
<ng-template #editDialog>
  <h2 matDialogTitle class="font-weight-light"><i class="fa fa-users" aria-hidden="true"></i>&nbsp; Editing Purchase
    Record</h2>
  <mat-divider></mat-divider>
  <br>
  <form [formGroup]="f">
    <table width="100%">
      <tr>
        <td width="50%">
          <div class="form-outline mb-4">
            <label class="font-weight-light">Code: </label>
            <input type="text" class="form-control" formControlName="code">
            <small *ngIf="f.controls['code'].hasError('required') && f.controls['code'].touched" class="text-danger">Field
              required</small>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline ">
                <label class="font-weight-light">Order By: </label>
                <p-dropdown styleClass="form-control p-0" [options]="employees" formControlName="employee_id"
                            optionValue="id" optionLabel="name"></p-dropdown>
                <small *ngIf="f.controls['employee_id'].hasError('required') && f.controls['employee_id'].touched"
                       class="text-danger">Field required</small>
              </div>
            </div>
            <div class="col">
              <div class="form-outline ">
                <label class="font-weight-light">Currency: </label>
                <p-dropdown styleClass="form-control p-0" [options]="changeRates" formControlName="changeRate_id"
                            optionValue="id" optionLabel="symbol"></p-dropdown>
              </div>
            </div>
          </div>
        </td>
        <td width="50%" style="padding-left:10px">
          <div class="form-outline mb-4">
            <label class="font-weight-light">Supplier: </label>
            <p-dropdown styleClass="form-control p-0" [options]="suppliers" formControlName="supplier_id"
                        optionValue="id" optionLabel="company"></p-dropdown>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline ">
                <label class="font-weight-light">Order Date</label>
                <input type="date" class="form-control" name="order_date" required formControlName="order_date">
                <small *ngIf="f.controls['order_date'].hasError('required') && f.controls['order_date'].touched"
                       class="text-danger">Field required</small>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <table class="table ">
      <thead class="table table-bordered" style="background-color:lightslategrey; height: 30px; font-size: 13px;">
      <tr align="center" class="font-weight-light">
        <th>Product Code</th>
        <th style="padding-left:10px">UOM</th>
        <th style="padding-left:10px">Description</th>
        <th style="padding-left:10px">Quantity</th>
        <th style="padding-left:10px">Price</th>
        <th>Total</th>
        <th></th>
      </tr>
      </thead>
      <tbody style="font-size: 12px;" formArrayName="purchaseOrderDetail">
      <tr *ngFor="let item of pod.controls; let i = index;" [formGroupName]="i">
        <td>
          <div class="form-outline mb-2">
            <p-dropdown styleClass="form-control p-0" [options]="products" formControlName="product" dataKey="id"
                        optionLabel="name" (onChange)="loadUoM($event.value,i)"></p-dropdown>
          </div>
        </td>
        <td width="20%" style="padding-left:10px">
          <div class="form-outline mb-2">
            <input type="text" readonly class="form-control" formControlName="item_variant_id">
          </div>
        </td>
        <td width="20%" style="padding-left:10px">
          <div class="form-outline mb-2">
            <input type="text" readonly class="form-control" formControlName="description">
          </div>
        </td>
        <td width="20%" style="padding-left:10px">
          <div class="form-outline mb-2">
            <input type="number" class="form-control" (input)="loadSub(i)" name="qty" required formControlName="qty">
          </div>
        </td>
        <td width="15%" style="padding-left:10px">
          <div class="form-outline mb-2">
            <input type="number" class="form-control" (input)="loadSub(i)" name="price" formControlName="price"
                   placeholder="Price" required>
          </div>
        </td>
        <td width="15%" style="padding-left:10px">
          <div class="form-outline mb-2">
            <input type="text" readonly class="form-control" formControlName="amount">
          </div>
        </td>
        <td width="5%" style="padding-left:5px">
          <button class="btn btn-warning" *ngIf="pod.controls.length > 1" style="height: 35px;" (click)="deleteRow(i)"><i
            class="fa fa-close"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="form-outline" style="float:right;font-size: 16px;">
      Total Price : <input readonly style="border: none white; background-color: white;width: 50px;" formControlName="totalPrice">
    </div>
    <br><br>
    <div class="form-outline mb-2">
      <label class="font-weight-light">Description</label>
      <textarea class="form-control" name="description" rows="6" placeholder=" Description of Product Purchasing"
                required formControlName="description"></textarea>
    </div>
    <mat-divider></mat-divider>
    <br>
    <mat-dialog-actions class="mx-auto" style="float:right;">
      <button (click)="onClose()" class="btn btn-sm btn-warning" mat-button color="secondary"><i
        class="fa fa-close"></i> Close
      </button>&nbsp;
      <button class="btn btn-sm btn-primary" (click)="onSave(f.value)"><i class="fa fa-save"></i> Save</button>
      <!--      (click)="saveObject(f.value)" [disabled]="!f.valid"-->
    </mat-dialog-actions>
    <br><br>
  </form>
</ng-template>

<ng-template #viewDialog>
  <form [formGroup]="f" id="printJS-form">
    <h2 matDialogTitle class="font-weight-light text-center header"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;
      Report Purchase Order Record</h2>
    <table class="table" width="100%">
      <tr>
        <td width="50%">
          <div class="form-outline mb-0 cm">
            <label class="font-weight-light">IG Tech Company </label><br>
            <label class="font-weight-light">igtech@gmail.com </label><br>
            <label class="font-weight-light">Address: Phnom Penh ,Tuol Kok , Somnong 12 </label>
          </div>
          <div class="font-weight-light vendor" style="margin-top:-10px;">
            <p style="font-weight: bold;" class="vendorBold">Vendor</p>
            <label class="font-weight-light vendor1">{{purchaseDetail?.supplier.company}}</label><br>
            <label class="font-weight-light vendor1">{{purchaseDetail?.supplier.contact}}</label><br>
            <label class="font-weight-light vendor1">{{purchaseDetail?.supplier.email}}</label><br>
            <label class="font-weight-light vendor1">{{purchaseDetail?.supplier.address}}</label>
          </div>
        </td>
        <td width="50%" style="padding-left:180px;">
          <label style="margin-top: -20px;" class="img"><img src="assets/dist/img/IG.jpg"
                                                             style="width: 200px; height: 170px;"></label>
          <div class="pleft">
            <label class="font-weight-light date" style="margin-top: -50px;">Order
              Date: {{purchaseDetail?.order_date  | date: 'yyyy-MMM-dd'}}</label><br>
            <label class="font-weight-light code" style="margin-top: -20px;">Purchase
              code#: {{purchaseDetail?.code}}</label>
          </div>
        </td>
      </tr>
    </table>
    <table class="table" style="margin-top:-30px;">
      <thead class="table table-bordered" style="background-color:lightslategrey; height: 30px; font-size: 13px;">
      <tr class="font-weight-light">
        <th class="text-center">Product Code</th>
        <th class="text-center">UOM</th>
        <th class="text-center">Description</th>
        <th class="text-center">Quantity</th>
        <th style="padding-left:10px;" class="text-center price">Price</th>
        <th class="text-center sub">Sub Total</th>
      </tr>
      </thead>
      <tbody formArrayName="purchaseOrderDetail" class="tbody">
      <tr *ngFor="let item of purchaseDetail?.purchaseOrderDetail" class="body">
        <td width="20%">
          <div class="form-outline">
            <label class="font-weight-light text-center dt">{{item.product.name}}</label>
          </div>
        </td>
        <td width="20%" style="padding-left:0px">
          <div class="form-outline ">
            <label class="font-weight-light text-center dt">{{item.itemVariantUom.item_variant_name}}</label>
          </div>
        </td>
        <td width="20%" style="padding-left:0px;">
          <div class="form-outline text-center dt">
            <label class="font-weight-light">{{item.itemVariantUom.description}}</label>
          </div>
        </td>
        <td width="10%" style="padding-left:0px;">
          <div class="form-outline text-center dt">
            <label class="font-weight-light">{{item.qty / item.itemVariantUom.conversion_factor}}</label>
          </div>
        </td>
        <td width="10%" style="padding-left:0px;">
          <div class="form-outline text-center dt">
            <label class="font-weight-light">{{item.price}}</label>
          </div>
        </td>
        <td width="20%" style="padding-left:10px;">
          <div class="form-outline text-center dt">
            <label class="font-weight-light">{{(item.qty / item.itemVariantUom.conversion_factor) * item.price}}</label>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="form-outline total" style="float: right;font-size: 16px">
      <p class="total">Total Price : {{totalPrice}}</p>
    </div>
    <br><br>
    <div class="form-outline mb-2">
      <label class="font-weight-light note">Noted: {{purchaseDetail?.description}}</label><br>
    </div>
    <mat-divider></mat-divider>
    <br>
  </form>
  <mat-dialog-actions class="mx-auto" style="float:right;">
    <button (click)="onClose()" class="btn btn-sm btn-warning" mat-button color="secondary"><i class="fa fa-close"></i>
      Close
    </button>&nbsp;
    <button class="btn btn-sm btn-primary" (click)="print()"><i class="fa fa-print"></i> Print</button>
  </mat-dialog-actions>
  <br>
</ng-template>

<!-- Confirm Delete Dialog -->
<p-confirmDialog [style]="{width: '25vw'}" [baseZIndex]="10000"
                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>

