<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="font-weight-light">Unit of Measurement Management</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Layout</a></li>
              <li class="breadcrumb-item active">New Unit of Measurement</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="font-weight-light card-title" style="color: teal">Please use the table below to navigate or filter result of Unit of Measurement</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="container">
                <form [formGroup]="f">
                  <div class="row mb-2">
                    <div class="col">
                      <div class="form-outline" >
                        <label class="font-weight-light" >UOM Type</label>
                        <br>
                        <select name="uom_id" ngModel class="form-select" ngModel formControlName="uom_id" style="float: left; width: 93%" >
                      <option *ngFor="let um of uoms" value={{um.id}}  class="font-weight-light form-control"  style="padding-top: 40px;">{{um.name}}</option>
                        </select>
                        <button pButton pRipple type="button" icon="pi pi-plus" (click)="openAdd(addDialog)" class="p-button-rounded p-button-secondary"></button>
                       </div>
                      <small style="float: left;" *ngIf="f.controls['uom_id'].hasError('required') && f.controls['uom_id'].touched" class="text-danger">Field required</small>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <label class="font-weight-light"> Item Variant Name </label>
                        <input type="text" name="item_variant_name" class="form-control" ngModel placeholder="1x1 1x6 or 1x24" formControlName="item_variant_name">
                      <small *ngIf="f.controls['item_variant_name'].hasError('required') && f.controls['item_variant_name'].touched" class="text-danger">Field required</small>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col">
                      <div class="form-outline">
                        <label class="font-weight-light">Unit Value</label>
                        <input type="number" name="unit_value" class="form-control" ngModel placeholder="Unit of type UOM" formControlName="unit_value">
                        <small *ngIf="f.controls['unit_value'].hasError('required') && f.controls['unit_value'].touched" class="text-danger">Field required</small>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <label class="font-weight-light">Conversion Factor</label>
                        <input type="number" name="conversion_factor" class="form-control" ngModel placeholder=" Item in Unit" formControlName="conversion_factor">
                        <small *ngIf="f.controls['conversion_factor'].hasError('required') && f.controls['conversion_factor'].touched" class="text-danger">Field required</small>
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-2">
                    <label class="font-weight-light" >Description</label>
                    <textarea class="form-control" name="description" rows="3" placeholder=" Please enter your Description !!" ngModel  required formControlName="description"></textarea>
                    <small *ngIf="f.controls['description'].hasError('required') && f.controls['description'].touched" class="text-danger">Field required</small>
                  </div>
                      &nbsp;
                  <mat-dialog-actions class="mx-auto" style="float: right">
                    <button class="btn btn-sm btn-warning" (click)="updateSubmit(f.value)" mat-button color="secondary"><i class="fa fa-refresh" ></i> Edit </button>&nbsp;
                    <button class="btn btn-sm btn-primary" (click)="onSubmitDetail(f.value)" [disabled]="!f.valid" ><i class="fa fa-plus"></i> Save </button>
                    <br>
                  </mat-dialog-actions>
                </form>
              </div>
              <p-table #dt2 [value]="uomDetail" dataKey="name"
                       [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]"  styleClass="p-datatable-customers p-datatable-gridlines id-width"
                       [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                       [globalFilterFields]="['item_variant_name','uomDetail.item_variant_name']">
                <ng-template pTemplate="caption">
                  <div class="p-d-flex">
                    <button mat-raised-button type="button" class="btn btn-primary">
                      <i class="fas fa-user"></i>&nbsp;<a href="/create-employee" role="button" style="color:white">Unit of Measurement</a></button>
                    <span class="p-input-icon-left p-ml-auto" style="float: right">
                      <i class="pi pi-search"></i>
                      <input class="p-inputtext p-component" pInputText type="text" (input)="dt2.filterGlobal(getEventValue($event), 'contains')" placeholder="Globle Search" />
                    </span>
                  </div>
                </ng-template>
                <ng-template pTemplate="header" class="font-weight-light card-title">
                  <tr style="height: 20px;font-size:14px;">
                    <th>
                      <div class="p-d-flex p-jc-between p-ai-center">
                        UOM Type
                        <p-sortIcon field="name"></p-sortIcon>
                      </div>
                    </th>
                    <th>
                      <div class=" p-jc-between p-ai-center">
                        Item Variant
                        <p-sortIcon field="name"></p-sortIcon>
                      </div>
                    </th>
                    <th>
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Unit Value
                        <p-sortIcon field="name"></p-sortIcon>
                      </div>
                    </th>
                    <th>
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Conversion Factor
                        <p-sortIcon field="name"></p-sortIcon>
                      </div>
                    </th>
                    <th>
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Description
                        <p-sortIcon field="name"></p-sortIcon>
                      </div>
                    </th>
                    <th>Action <p-sortIcon field="name"></p-sortIcon></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-umd  class="font-weight-light card-title">
                  <tr style="font-size: 14px;">
                    <td>{{umd.uom.name}}</td>
                    <td>{{umd.item_variant_name}}</td>
                    <td>{{umd.unit_value}}</td>
                    <td>{{umd.conversion_factor}}</td>
                    <td>{{umd.description}}</td>
                    <td style="width:20%;height: 2%;text-align: center">
                      <button class="btn btn-sm btn-warning" (click)="openEdit(umd)"><i class="fa fa-edit"></i> Edit </button>&nbsp;
                      <button class="btn btn-sm btn-danger" (click)="confirmDelete(umd)"><i class="fa fa-trash" ></i> Delete </button>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="6" class="brand-text font-weight-light">No Unit of Measurement found.</td>
                  </tr>
                </ng-template>
              </p-table>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</div>
<!-- add Dialog -->
<ng-template #addDialog>
  <h2 mat-dialog-title><span class="font-weight-light card-title">New Unit of Measurement Type</span></h2>
  <br>
  <mat-divider></mat-divider>
  <br>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-outline mb-4">
      <label class="form-label" >UOM Type</label>
      <input type="text" id="name" name="name"  class="form-control" ngModel required #name="ngModel">
      <small class="p-error" *ngIf="!name.valid && name.touched">
        Please enter a valid name !!
      </small>
    </div>
    <mat-divider></mat-divider>
    <mat-dialog-actions align="end">
      <button class="btn btn-warning btn-btn-outline" mat-button color="warning">Close</button> &nbsp; &nbsp;
      <button type="submit" [disabled]="!f.valid" class="btn btn-primary btn-btn-outline" mat-button color="primary">Save</button>
    </mat-dialog-actions>
  </form>
</ng-template>

<!-- Confirm Delete Dialog -->
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

